# Python bytecode
*.pyc
__pycache__/

# macOS specific files
.DS_Store

# Virtual environments
Python/venv/

# IDE files
.idea/
.vscode/


/state_covariate_raster/
/checklist_data/

/simulation_experiments/output/
/species_experiments/output/

/OLD_code/results/
